body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 14pt;

}

footer {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
}

a:visited {
    background-color: red;
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}